# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

01viteReact/node_modules
02tailwindprops/node_modules
03bgchanger/node_modules
04passwordgenerator/node_modules
05currencyconvertor/node_modules
node_modules
textutils
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
